.div .centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  display: grid !important;
  place-items: center !important;

  text-align: center !important;

  margin: auto !important;

  position: relative !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;

  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;

  padding-left: 50% !important;
  padding-right: 50% !important;

  display: inline-block !important;

  float: none !important;

  display: table-cell !important;
  vertical-align: middle !important;
}
